.profile {
  margin: 20px auto;
  text-align: center;
}

.avatar {
  composes: profile;

  width: 100px;
  border-radius: 50%;
}

.name {
  font-size: 20px;
  font-weight: 500;
}

.tag,
.location {
  color: rgb(143, 155, 155);
}

.stats {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  /* background-color: rgb(225 225 225); */
}

.statsItem {
  display: flex;
  flex-direction: column;
  background-color: rgb(225 225 225);
  border: 1px solid rgb(211, 216, 221);
  padding: 15px 10px;
}

.label {
  composes: tag;
  margin-bottom: 5px;
}

.quantity {
  composes: name;
}
