.friendList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  background-color: rgb(217, 219, 223);
  display: flex;
  align-items: center;
  border: 2px solid rgb(211, 216, 221);
  border-radius: 4px;
  padding: 10px 20px;
}
.item:not(:last-child) {
  margin-bottom: 10px;
}

.statusGreen {
  border: 8px solid seagreen;
  border-radius: 50%;
  margin-right: 10px;
}
.statusRed {
  border: 8px solid red;
  border-radius: 50%;
  margin-right: 10px;
}

.avatar {
  margin-right: 20px;
}

.name {
  font-size: 16px;
  font-weight: 500;
}
